html {
  box-sizing: border-box;
  min-height: 100vh;
  background-color: darkslategrey;
  color: aliceblue;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 20px auto;
  max-width: 800px;
  width: 70%;
  min-width: 600px;
}

section {
  font-size: 1.5rem;
}

strong, em {
  color:lightblue;
}

.server-client {
  filter: invert(100%);
}
